a {
  text-decoration: none;
  color: #e5e7eb;
}
li {
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  max-width: 100%;
  height: 7%;
  background-color: #1f2937;

  justify-content: space-around;
}
.top-text {
  font-size: 24px;
  color: #f9faf8;
  padding-left: 12px;

  display: flex;
}
.links {
  display: flex;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 18px;
  color: #e5e7eb;
  gap: 10px;
}

.awesome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-color: #1f2937;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
  flex-grow: 1;
  flex-shrink: 0;
}
.centext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centext h1 {
  font-size: 48px;
  font-wight: 800;
  color: #f9faf8;
  margin: 0;

  width: 300px;
}
.centext p {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  flex-grow: 0;
  flex-direction: column;

  max-width: 400px;
  margin: 0;
  flex-wrap: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sign-up {
  width: 150px;
  height: 50px;
  background-color: #3882f6;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}
.awesome img {
  display: flex;
  width: 450px;
  height: 215px;
  padding-top: 5px;

  padding-left: 10px;
}
.topwords {
  display: flex;
  height: 10%;
  max-width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  flex-shrink: 1;
  padding-top: 10px;
  padding-bottom: 0;
}
.center img {
  height: 150px;
  width: 150px;
  border: 5px solid #3882f6;
  border-radius: 25px;
}

.caption {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  height: 15%;
}
.caption p {
  display: flex;
  width: 150px;
  height: auto;
  padding-top: 10px;
  margin: 0;
  flex-wrap: wrap;
}
.quote {
  background-color: #e5e7eb;
  flex-wrap: wrap;
  max-height: auto;
  flex: 0;
}
.quote-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  flex: 0;

  padding-left: 400px;
  padding-right: 400px;
}
.quote-text {
  display: flex;
  height: auto;

  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.quote-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}
.signup {
  display: flex;
  background-color: #fff;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.signup-container {
  display: flex;
  background-color: #3882f6;
  height: 150px;
  width: 800px;
  margin: 0;
  align-items: center;
  border-radius: 25px;

  justify-content: space-around;
}
.left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;
}
.signup-button {
  display: flex;
  flex-direction: column;
  height: 35px;
  width: 125px;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 10%;
  background-color: #3882f6;
  color: #fff;
}
.left-text h3 {
  margin: 0;
}
.left-text p {
  margin: 0;
  font-weight: lighter;
  opacity: 0.7;
}
.footer {
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: #fff;
}
